body {
  background-color: #FFF0DD; 
  margin: 0;
  padding: 0;
}

main {
  padding: 40px;
}

.imagen-redondeada {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.producto:hover {
  transform: scale(1.03);
}

.producto-imagen {
  width: 78px;
  height: 54px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.producto-detalles {
  text-align: center;
  margin-top: 8px;
}

.producto-titulo {
  font-size: 16px;
  margin: 4px 0;
  color: #333;
}

.barra-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px auto;
  gap: 21px;
}

.barra-busqueda{
    background-color: #FFF0DD;
}

.barra-busqueda input {
  padding: 10px;
  width: 998px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  font-size: 16px;
}

.barra-busqueda button {
  padding: 10px 16px;
  background-color: #FFF0DD;
  color: #D9D9D9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.barra-busqueda button:hover {
  background-color: #D6DAC8;
}

