body {
  background-color: #FFF0DD; 
  margin: 0;
  padding: 0;
}

.header {
    background-color: #FFF0DD;

}

.Logo {
    position: absolute;
  left: 36px;  /* X */
  top: 0px;    /* Y */
}

 
.navbar {
  background-color: #FFF0DD;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 33px;
  padding: 0;
}

.navbar li {
  text-align: center;
  flex: 1;
  margin: 33px;
  }

.boton,

.boton {
  color: #D6A99D;
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boton:hover {
  transform: scale(1.05); /* zoom del 5% */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* sombra suave */
}


.catalogo {
 display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #FFF0DD;
  cursor: pointer;

} 



.producto {
  border-radius: 10px;
  padding: 15px;
  width: 180px;
  text-align: center; 
}

.producto-imagen {
  width: 150px;
  height: 192px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.9s ease;
}

.producto-imagen:hover {
  transform: scale(1.03);
}

.producto-titulo {
  font-size: 16px;
  margin: 5px 0;
  color: #333;
}

.barra-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px auto;
  gap: 21px;
}

.barra-busqueda{
    background-color: #FFF0DD;
}

.barra-busqueda input {
  padding: 10px;
  width: 998px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  font-size: 16px;
}

.barra-busqueda button {
  padding: 10px 16px;
  background-color: #FFF0DD;
  color: #D9D9D9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.barra-busqueda button:hover {
  background-color: #D6DAC8;}

