body {
    background-color: #FFF0DD;
}

.icon{
   width: 57px;
   height: 58px; 
   color: #333;
}


.menu-usuario {
  background-color: #FFF0DD; /* fondo beige claro */
  padding: 20px;
  position: absolute;
  left: 300px;  /* X: distancia desde el borde izquierdo */
  top: 320px;   /* Y: distancia desde el borde superior */
}

.menu-usuario ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-usuario li {
  margin: 10px;
}

.boton-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  color: #333;
  width: 100px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  font-size: 14px;
}

.boton-menu i {
  font-size: 24px;
  margin-bottom: 6px;
  color: #D6A99D;
}

.boton-menu:hover {
  transform: scale(1.05);
  background-color: #ffe0b2;
}
